body,html{ 
    width:100%;
    height:100%;
    font-family: 'Roboto', sans-serif;
    background: url(sartup.webp) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;}
    hr{color: orangered;
    border-width:6px;
    width: 6px;
    padding:0px10px;}
    h1{color:antiquewhite;
    font-size: 3rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    }
    .buffer{height:200px;}
    .heding{ display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    justify-content: center;}
    .btn-xl{padding:20px,30px;
        color: antiquewhite;
    background-color: orangered;
    border-color: orangered;
    font-weight: 300;
    border-radius: 300px;
    text-transform: uppercase;
}
.btn-xl:hover{background-color:orangered;
border-color: orangered;
border-width: 4px;}
